
/* Declares a variable with the color value */

:root{
    --color: #13293d;
}

/* Applies the font family to all html elements */

*{
    font-family: sans-serif;
}

/* Applies the property values to the body element */

body{
display: flex;
flex-direction: column;
line-height: 1.3;
background-color: var(--color);
color: rgb(85, 193, 193);
}

/* Applies the property values to the header element */

header{
 display: flex;   
 justify-content: space-between;
 padding: 1%;
 background-color: var(--color);
 width: auto;
}

/* Applies the property values to the element with class="my-name" */

.my-name{
font-size: 200%;
color: rgb(85, 193, 193);
margin: 10px 10px 10px 50px
}

/* Applies the property values to the nav element */

nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

/* Applies the property values to the anchor elements in the nav element */

nav a{
    text-decoration: none;
    color:rgb(85, 193, 193);
    font-size: 1.0rem;
    padding: 5px 10px;
}

/* Applies the property values to the anchor elements in the nav element on hover */

nav a:hover{
    background-color:aqua;
    transition: 1s;
    color: var(--color);
    opacity: 0.6;
    border-radius: 10px;
}

/* Applies the property values to the element with class="hero" */

.hero{
    display: flex;
}

/* Applies the property values to the image element which is a direct child of an element with class="hero" */

.hero > img{
    position: relative;
    width: 100%; 
    height: 400px;
}

/* Applies the property values to the element with class="profile-picture" */

.profile-picture{
    position: absolute;
    bottom: 47%;
    height:30%;
    left:10%;
    border: 5px solid rgb(99, 159, 179);
    border-radius: 10px 10px;
}

/* Applies the property values to the element with id="about" */

#about{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}

/* Applies the property values to the element with class="me" */

.me{
    font-size: 4vw;
    flex: 0 0 20%;
    text-align: center;
    margin-top: 30px;
    border-right: solid rgb(85, 193, 193);
    min-height: 250px;
    padding-top: 68px;
}

/* Applies the property values to the element with class="about-me" */

.about-me{
    flex: 0 0 75%;
    margin-left:10px;
    padding-top: 100px;
}

/* Applies the property values to the p elements within an element with class="about-me" */

.about-me p{
    margin-bottom: 20px;
    font-size: large;
}

/* Applies the property values to the element with id="work" */

#work{
    display: flex;
    position: relative;
}

/* Applies the property values to the element with class="work-heading" */

.work-heading{
    font-size: 4vw;
    flex: 0 0 20%;
    text-align: center;
    margin-top: 30px;
    border-right: solid rgb(85, 193, 193);
    min-height: 250px;
    padding-top: 68px; 
}

/* Applies the property values to all h3 elements */

h3{
    background-color: var(--color);
    font-size: large;
    flex:1 1
}

/* Applies the property values to the element with class="work-cards" */

.work-cards{
    display: flex;
    flex-direction: column;
    flex: 0 0 75%;
    flex-wrap: wrap;
    margin-left:auto;
    padding-top: 100px;
}

/* Applies the property values to elements with class="images" */

.images{
    opacity: 0.5;
}

/* Applies the property values to elements with class="images" on hover */

.images:hover{
    opacity: 1;
    cursor: pointer;
}

/* Applies the property values to img elements which is a direct child of an anchor element */

a > img{
    width: 70%;
    border: solid rgb(85, 193, 193) 5px;
    display: inline;
}

/* Applies the property values to elements with class="prewrok-study-guide" */

.prework-study-guide{
    position: absolute;
    margin-top: -10px;
    margin-left: 3px;
    bottom: 70%;
    border:solid rgb(85, 193, 193) 5px;
    border-left-width:solid rgb(85, 193, 193) 5px;
}  

/* Applies the property values to elements with class="horiseon" */

.horiseon{
    position: absolute;
    margin-top: -10px;
    margin-left: 3px;
    bottom: 45%;
    border:solid rgb(85, 193, 193) 5px;
    border-left-width:solid rgb(85, 193, 193) 5px;
}

/* Applies the property values to elements with class="technology-management" */

.technology-management{
    position: absolute;
    margin-top: -10px;
    margin-left: 3px;
    flex-wrap:wrap ;
    bottom: 15%;
    border:solid rgb(85, 193, 193) 5px;
    border-left-width:solid rgb(85, 193, 193) 5px;
}

/* Applies the property values to elements with id="contact-me" */

#contact-me{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}

/* Applies the property values to elements with class="my-contact" */

.my-contact{
    font-size: 4vw;
    flex: 0 0 20%;
    text-align: center;
    margin-top: 30px;
    border-right: solid rgb(85, 193, 193);
    min-height: 250px;
    padding-top: 68px; 
}

/* Applies the property values to elements with class="contact-links" */

.contact-links{
    display: flex;
    flex-direction: column;
    flex: 0 0 75%;
    flex-wrap: wrap;
    margin-left:auto;
    padding-top: 100px;
}

/* Applies the property values to anchor elements within an unordered list element*/

ul a {
    text-decoration: none;
    color:rgb(85, 193, 193);
    font-size: 1.0rem;
    padding: 5px 10px;
}

/* Applies the property values to anchor elements within an unordered list element on hover*/

ul a:hover{
    background-color:aqua;
    transition: 1s;
    color: var(--color);
    opacity: 0.6;
    border-radius: 10px;
}

/* Applies the property values to list elements which are direct children of an unordered list element*/

ul>li{
    display: inline;
    margin-left: 140px;
}

/* Applies the property values to the element with class="footer" */

.footer{
    text-align: center;
    margin-top: 50px;
    background-color:  rgb(85, 193, 193);
    color: var(--color);
}

/* Applies media queries to all h3 elements */

@media screen and (max-width: 800px) {
    h3 {
      width: 50%;
    }
}



