:root{
    --color: #13293d;
}

*{
    font-family: sans-serif;
}

body{
display: flex;
flex-direction: column;
line-height: 1.3;background-color: var(--color);
color: rgb(85, 193, 193);
}

header{
 display: flex;   
 justify-content: space-between;
 padding: 1%;
 background-color: var(--color);
 font-size: 20px;
 width: auto;
}

.my-name{
font-size: 200%;
color: rgb(85, 193, 193);
margin: 10px 10px 10px 50px
}

nav{
    margin:30px
}

a{
    color:rgb(85, 193, 193);
}

nav a{
    color:rgb(85, 193, 193);
    font-weight: bold;
    padding: 5px;
    margin: 5px 5px 5px 5px;
    width: 100px;
}

a:hover{
    background-color:aqua;
    transition: 1s;
    color: var(--color);
    opacity: 0.6;
}

.hero > img{
    position: relative;
    width: 100%; 
    height: 400px;
}

.profile-picture{
    position: absolute;
    bottom: 47%;
    height:30%;
    left:10%;
    border: 10px solid rgb(99, 159, 179);
    border-radius: 10px 10px;
}

#About{
    display: flex;
    position: relative;
}

.About-Me{
    display: flex;
    display: block;
    position: absolute;
    width: 40%;
    left: 55%;
    bottom: 10%;
    flex-direction: column;
    padding-left: 10px;
    flex-wrap: wrap;
    font-size: 18px;
    border-left: solid rgb(85, 193, 193);
    flex: 100% 50% 200px;
}

.me{display: flex;
    flex-direction: column;
    margin: auto;
    padding: 70px;
    margin-left: 10%;
    font-size: 300%;
    flex: 100% 50% 200px;
}


.work-cards{
    position: relative;
}


.my-work {display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 100px;
    margin-left: 15%;
    font-size: 300%;
}

.work-1-card{
    position: relative;
}


.work-1-image{
    display: flex;
    display: block;
    position: absolute;
    width: 40%;
    left: 55%;
    bottom: 15%;
    top: 1%;
    border-left: solid rgb(85, 193, 193);
    padding-left: 10px;
}



.prework-study-guide{
    position: absolute;
    background-color: var(--color);
    left: 56%;
    top:1%;
    font-size: 20px; 
}


.prework{
    background-color: var(--color);
        position: absolute;
        left: 56%;
        top: 25px 
}


.work-2-card{
    position: relative;
}

.work-2-image{
    display: flex;
    display: block;
    position: absolute;
    width: 40%;
    left: 55%;
    top: 1850%;
    border-left: solid rgb(85, 193, 193);
    padding-left: 10px;
}

.Horiseon-Semantic-Webpage{
    display: flex;
    position: absolute;
    left: 56%;
    top: 1850%;
    background-color: var(--color);
    font-size: 20px;
}




section > img {
    width:50%
}

p{
    display: inline-block;
}

.work-cards{
    justify-content: space-between;
}

